body{
}
header{
    background-color:rgba(0,0,0,.2); 
    border:none;
}
article{       
    min-height:600px;
    color:white;
} 
.articleBar{
    background-color:white;
    text-align: center;
    padding:4%;
    /*background-color:rgba(255,255,255,.2);*/
}
.discription p{ 

}
.parallax{
    background-image:url("http://widefon.com/_ld/208/98211776.jpg");
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.inbetween{
    background-color:white;
    padding:50px 80px;
}
.slides {
    width:100%;
    background-color:blue;
}
.slides-container{
	width:80%;
	margin-left: 10%;
	background-color:pink;
}
.portfolio-header{
    height:900px;
    background-color:rgba(0,0,0,.2); 
    color:white;
}
.portfolio-header h3{
 position: relative;
 text-align: center;
 top: 40%; 
 margin:0 auto;
 font-size: 72px;
 font-weight:100; 
 font-family: "Libre Franklin", sans-serif;
}